* text=auto eol=lf

*.cs text eol=lf diff=csharp
*.xml text eol=lf
*.md text eol=lf diff=markdown
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
workshop.json -text
*.sh text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.rsp text eol=lf
*.tile text eol=lf

*.png binary
*.bmp binary
*.gif binary
*.jpg binary
*.jpeg binary
*.dll binary
*.pdb binary
*.zip binary
*.gz binary
*.sav binary
